
.Home {
  width: 80vw;
  height: 100vh;
  margin-inline: auto;
  background-color: blanchedalmond;
  position: relative;
  scroll-behavior: smooth;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: rgb(243, 176, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 6px -5px black;
  padding-inline: 20px;
  position: absolute;
  
}
.menu {
  cursor: pointer;
}

.search-bar {
  width: 50%;
  border-radius: 25px;
}

.search-input {
  height: 50px;
  width: 90%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  font-size: large;
  padding-inline: 20px;
  outline: none;
}

.search-button {
  height: 50px;
  width: 10%;
  border: none;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.notes-container{

  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
  overflow: scroll;
  padding-top: 100px;
  
}

.add-note {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 3em;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.add-note:hover {
  font-size: 3.1em;
}

.search-input:focus {
  background-color: rgb(248, 248, 248);
}

.side-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.add-new-note{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-note-form{
  width: 500px;
  height: 400px;
  background-color: blanchedalmond;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}



.add-note-form textarea{
  outline: none;
  border: 1px solid rgb(255, 212, 147);
  resize: none;
  background-color: blanchedalmond;
  display: block;
}

.add-note-heading{
  padding: 10px;
  border-bottom: 1px solid rgb(255, 212, 147);
  
}

.input-area{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-note-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross{
  font-size: x-large;
  cursor: pointer;
}

.cross:hover{
  color: #ff0021;

}

.add-note-heading h2{
  font-weight: 900;

}

.input-title input{
  outline: none;
  border: none; 
  background-color: blanchedalmond;
  border-bottom: 1px solid rgb(255, 212, 147);
  width: 100%;
  font-size: medium;
  font-weight: 600;
}


.btn-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.btn-add-can{
  width: 200px;
  padding: 10px;
  border: none;
  cursor: pointer;  
  border-radius: 20px;
  background: none;
  font-weight: 800;
  font-size: medium;
}

.btn-add{
  background-color: 	#008000;
}

.btn-can{
  background-color: 	#ff0021;
}